        <div class="contact-me">
            <img src="/static/images/logo_transparent_background.png"><hr>
            <a class="footer fas fa-envelope-open-text" href="mailto:modoumbaye25@gmail.com"></a>
            <a class="footer fas fa-phone-square" href="tel:6466443658"></a>
            <a class="footer fab fa-linkedin" href="https://www.linkedin.com/in/modou-mbaye/"></a>
            <a class="footer fab fa-github" href="https://github.com/modoumbaye25"></a>
            <p class="copyright">© {{ current_year }} Modou Mbaye </p>
        </div>


     <!-- bootstrap JS bundle script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/CSS/scripts/index.js"></script>
</body>
</html>