        <div class="contact-me">
            <a class="footer" href="mailto:modoumbaye25@gmail.com"><i class="fas fa-envelope-open-text"></i>modoumbaye25@gmail.com</a>
            <i class="footer fas fa-phone-square phone">(646)644-3658</i>
            <a class="footer" href="https://www.linkedin.com/in/modou-mbaye/"><i class="fab fa-linkedin"></i>LinkedIn</a>
            <a class="footer" href="https://github.com/modoumbaye25"><i class="fab fa-github"></i>GitHub</a>
            <p class="copyright">© {{ current_year }} Modou Mbaye </p>
        </div>


     <!-- bootstrap JS bundle script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/CSS/scripts/index.js"></script>
</body>
</html>