{% include "header.html" %}
    <title>Modou Profile</title>

    <div class="row">
        <div class="col-lg-8">
            <div class="bio">
                <h1>Modou Mbaye</h1>
                <img class="profile-img" src="/static/images/Modou2.jpg", alt="Profile picture">
                <h2 class="professional">IT Professional</h2>
                <h3>Software Development | Cloud Computing | Network Egineering</h3>  
            </div>

            <div class="about">
                <h3>Hi my name is Modou and welcome to my personal CV website! 😃</h3>
                <div class="about-summary">
                    <p>
                        I am a passionate technologist with extensive knowledge in cloud computing, networking,
                        software development, and computer systems. My goal is to help organizations leverage the full
                        capabilities of technology to meet organizational objectives. I am also problem solver
                        <span class="more-summary">
                            with an aptitude for learning extremely fast and demonstrated skills in solving complex
                            technical problems and communicating effectively in a high-pressure, fast-paced and
                            collaborative environment.
                        </span>
                        <a id="more-summary-btn" type="button"><span>...</span> see more</a>


                    </p>
                </div>
            </div>

            <div class="experiences">
                <h2>Work Experience</h2>
                <div class="experience">
                    <a href="https://aws.amazon.com/">
                        <img class="aws-img" src="/static/images/aws2.png", alt="Profile picture">
                    </a>
                    <h3>Network Technician </h3>
                    <p class="company">Amazon Webservices</p>
                    <p class="date-area">Aug 2020 - Present</p>
                    <p class="date-area"> Boardman, OR</p>
                    <button type="button" class="description-btn"  id="aws-btn">Show Description</button>
                </div>
                <div class="description aws-desc">
                    <ul>
                        <li>Rollout up to 150 new server racks weekly, ensuring every switch, host and device in each rack are built out and handed off to customer within SLA</li>
                        <li>Configure various types of L2 and L3 switches including Accton, Celestica, Juniper and Cisco using various CLIs such as Cisco IOS, JunOS, and GNU/Linux</li>
                        <li>Own projects designed to increase datacenter capacity, or provide connectivity between sites including building, configuring, and deploying core network racks and aggregation devices and  upgrading network devices</li>
                        <li>Troubleshoot networking, routing, inter connectivity, and network device configuration issues and issues with server hosts</li>
                        <li>Troubleshoot infrastructure cabling issues, including fiber optic and Ethernet links, patch panels, and SFP/QSFP modules</li>
                        <li>Collaborate with vendors, and other teams to drive timely completions of projects and deliverables to ensure stability and sustainability of AWS’ rapid datacenter scaling</li>
                    </ul>
                </div>
                <div class="experience">
                    <a href="https://www.bankofamerica.com/">
                        <img class="bank-img" src="/static/images/bank.png", alt="Profile picture">
                    </a>
                    <h3>Trade Floor Operations Support - Contract</h3>
                    <p class="company">Bank of America</p>
                    <p class="date-area">May 29 - Aug 2020</p>
                    <p class="date-area"> New York, NY</p>  
                    <button type="button" class="description-btn" id="bank-btn">Show Description</button>
                </div>
                <div class="description bank-desc">
                    <ul>
                        <li>Provided first line technical support to over 1500 users, including traders, seniors, managing directors, and vice presidents.</li>
                        <li>Handled 15+ incidents daily regarding issues with Windows 7/10, Microsoft Office, Emails, video conferencing, IP Phones, Turrets, Computer hardware & software, and Market Data Apps such as Bloomberg</li>
                        <li>Troubleshot various software and network related issues concerning applications, PC performance, websites reachability, shared drives/folders connectivity, RDP/VPN connectivity, and Internet connectivity</li>
                        <li>Investigated and researched various complex technical problems with efficiency and speed and involve necessary parties to resolve incidents quickly</li>
                        <li>Ensured all workstations, laptops, mobile devices and other services are functioning properly, receiving critical patches and updates, and compliant with bank policy</li>
                        <li>Completed projects such as installing and overseeing the testing of new products, pushing out software and updates to computers, reimaging and setting up workstations</li>
                        <li>Aided in office moves, including monitoring and confirming proper installation of computers and ensuring that equipment and services involved in a move returns to functioning properly</li>
                        <li>Dealt with users remotely, over the phone, and in-person and kept users updated through excellent verbal and written communication</li>
                    </ul>
                </div>    
            </div>

            <div class="skills">
                <h2>Skills</h2>

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-pause='hover'>
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <table>
                            <tr>
                                <td>Cloud / AWS</td> <td>Networking</td>
                            </tr>
                            <tr>
                                <td>Web Development</td> <td>Python</td>
                            </tr>
                            <tr>
                                <td>Linux</td> <td>Databases</td>
                            </tr>
                        </table>
                      </div>
                      <div class="carousel-item">
                        <table>
                            <tr>
                                <td>HTML / CSS</td> <td>Git / GitHub</td>
                            </tr>
                            <tr>
                                <td>Scripting / Automation</td> <td>Data Center</td>
                            </tr>
                            <tr>
                                <td>Troubleshooting</td> <td>Windows10 / MacOS</td>
                            </tr>
                        </table>
                      </div>
                      <div class="carousel-item">
                        <table>
                            <tr>
                                <td>TCP/IP</td> <td>BGB / OSPF</td>
                            </tr>
                            <tr>
                                <td>Routers / Switches</td> <td>Computer Hardware</td>
                            </tr>
                            <tr>
                                <td>Cloud Security</td> <td>Cisco IOS</td>
                            </tr>
                        </table>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                  </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="side education">
                <img class="gif-edu" src="https://media.giphy.com/media/2hw8p8TpG8CgvuQOCT/giphy.gif">
                <h2>Education & Training</h2>
                
                <hr class="invisible-devider">
    
                <div>
                    <h3>New York City College Of Technology</h3>
                    <p class="company">Bachelors of Science - Computer Information Systems</p>
                </div>
                <hr>
                <div>
                    <h3>NPower</h3>
                    <p class="company">Certificate of Completion - Cloud Computing, AWS</p>
                    <p class="date-area">Sep 2019 - Dec 2019</p>
                </div> 
                <hr>
                <div>
                    <h3>NPower</h3>
                    <p class="company">Certificate of Completion - IT Fundamentals</p>
                    <p class="date-area">Jan 2019 - Jun 2019</p>
                </div> 
            </div>
            <div class="side">
                <img class="gif-cert" src="https://media.giphy.com/media/pFZyq1H4V8WHkr8JF0/giphy.gif">
                <h2>Certifications</h2>
                
                <hr class="invisible-devider">

             
                <table class="certs">
                    <tr>
                        <td>
                            <a class="certs-btn" href="https://www.credly.com/badges/63e8cc5f-522d-43d0-93c2-212dd4e66544/public_url">
                                <img class="certs-img" src="/static/images/ccna.png" >
                            </a>
                        </td>
                        <td>
                            <h3>Cisco Certified Network Associate (CCNA)</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="certs-btn" href="https://www.credly.com/badges/422a8429-8464-41da-86a4-f1e6315145c9/public_url">
                                <img class="certs-img" src="/static/images/architect.png">
                            </a>
                        </td>
                        <td>
                            <h3>AWS Certified Solutions Architect</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="certs-btn" href="https://www.credly.com/badges/dbc00525-79e1-4c3f-bb26-399550cffc37/public_url">
                                <img class="certs-img" src="/static/images/security.png">
                            </a>
                        </td>
                        <td>
                            <h3>AWS Certified Security - Specialty</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="certs-btn" href="https://www.credly.com/badges/35104cea-c0bd-4a96-abeb-49ba83fb3b1d/public_url">
                                <img class="certs-img" src="/static/images/practioner.png">
                            </a>
                        </td>
                        <td>
                            <h3>AWS Certified Cloud Practitioner</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="certs-btn" href="https://www.credly.com/badges/831b8436-d482-4955-acf4-3cf2159b1bcd/public_url">
                                <img class="certs-img" src="/static/images/comptia.png">
                            </a>
                        </td>
                        <td>
                            <h3>CompTIA IT Fundamentals+</h3>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% include "footer.html" %}
